#box{
	line-height:1.5em;
}

.quiz_questions{
	width:100%;
	height:2500px;
}
.quiz_questions #time {
	border-radius: 10px;
	position:fixed;
	right:0; 
	top:150px;
	padding: 10px;
	background:var(--c3);
	font-size: 20px;
	color: White;
	text-align: center;
	font-family: Titillium Web;
	} 
	
/* heading */
.quiz_questions #C4{
	font-size: 40px;
	color: White;
	font-family: Titillium Web;
	text-align: center;
	}
	
/* container for the quiz */
.quiz_questions #quiz {
	width: 60%;
	margin-left: auto;
	margin-right: auto;
	border-radius: 20px;
	padding: 20px 20px 20px 20px;
	background: var(--c3);
	color: White;
	opacity: 0.9;
	}

/* buttons */
.quiz_questions #button2 {
	border: none;
	border-radius: 5px;
	padding: 10px;
	background: #808080;
	color: White;
	}

.quiz_questions #button2:hover {
	background: #595959;
	color: White;
	cursor: pointer;
	}
	
.quiz_questions a:hover{
    background: #737373;
	border-radius:40%;
	}

/* display after submit */	
#after_submit{
	visibility: hidden;
	}

/* page editor */
.footer {
	font-family: Titillium Web;
	padding-top:20px;
	background-color:#2c3e50;
	width:100%;
	height:40px;
	bottom:0;
}

.footer a{
	padding:10px 20px;
	cursor:pointer;
	color: black;
	text-decoration:none;
}