body {
    margin: 0;
}

.nav-bar {
    display: inline-block;
    position: fixed;
    width: 100%;
    padding: 10px 0;
    background-color: rgb(119, 0, 255);
}

.nav-bar li {
    display: inline;
    margin: 0;
    padding: 0;
}

.nav-bar a {
    margin: 5px 0;
    padding: 10px;
    background-color: coral;
}

.nav-bar a {
    text-decoration: none;
}

#space-nav-bar {
    margin-left: 650px;
    background-color: rgb(119, 0, 255);
}

.nav-bar a:link {
    color: green;
}

.nav-bar a:visited {
    color: brown;
}

.nav-bar a:hover {
    color: yellow;
    background-color: red;
}

.nav-bar a:active {
    color: chocolate;
}

#page-anchors{
    background-color: chartreuse;
    padding: 1% 2.5%;
}
#page-anchors ul{
    display: flex;
    list-style-type: none;
}
#page-anchors a{
    text-decoration: none;
}
#page-anchors li{
    width: 100px;
}


/* 
*
*
content */

#content {
    padding-top: 75px;
}

#image-display img {
    width: 75%;
    display: block;
    margin: auto;
}

.container {
    padding: 2.5%;
    width: 70%;
    background-color: beige;
    margin: auto;
}

.first-img {
    float: left;
    width: 30%;
    margin: 20px;
}

h1 {
    font-size: 2em;
    text-align: center;
}

h2 {
    margin-left: 10%;
}

p {
    text-align: justify;
    font-size: 1.5em;
}

.img-fill {
    width: 100%;
}

.twitter-tweet {
    margin: 0 auto;
}

#lol-yt {
    display: block;
    margin: 0 auto; 
}
.points-table{

}
table td,th{
    border: solid 5px red;
}
table{
    margin: 0 auto;
    border-collapse: collapse;
}
h3{
    text-align: center;
}