.nav-bar{
    background-color: rgb(119, 0, 255);
    padding: 5px;
}
.nav-bar li{
    display: inline;
    margin: 5px;
    padding: 10px;
    background-color:coral;
}
.nav-bar a{
    text-decoration: none;
}
#space-nav-bar{
    margin-left: 850px;
    background-color: rgb(119, 0, 255);   
}
