@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@400;600&display=swap');

:root {
    --c1: red;
    --c2: rgb(146, 145, 145);
    --c3: #1f2833;
    --c4: #0b0c10;
}

body {
    margin: 0;
    background-color: var(--c4);


}


.nav-bar {
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: var(--c4);
    height: 50px;
    padding: 20px;

    .logo {
        font-size: 2em;
        color: var(--c2);
        padding-top: 5px;

        span {
            color: red;
            font-weight: bold;
        }
    }

    ul {
        list-style-type: none;
        margin: 0 50px;
        padding: 10px 0;
        font-size: 1em;
        font-weight: bold;
        font-family: 'Titillium Web';
        color: var(--c1);
        letter-spacing: 25%;
        background-color: var(--c3);
        border-radius: .3em;
    }

    li {
        display: inline;
        width: 50px;
        height: 50px;
        padding: 7px;

    }

    a {
        text-decoration: none;
        color: red;
        font-size: 1.2em;
    }

    // a:link {
    //     color: #66FCF1;
    // }

    // a:visited {
    //     color: #66FCF1;
    // }

    li:hover {
        background-color: var(--c2);
        border-radius: .3em;
    }
}





#page-anchors {
    background-color: var(--c2);
    padding: .1% 2.5%;
    width: 80%;
    margin: auto;

    ul {
        margin: 0;
        display: flex;
        list-style-type: none;
        justify-content: center;

        li {
            margin: 0 20px;
        }
    }

    a {
        text-decoration: none;
        color: var(--c4);
        font-family: 'Titillium Web';
        font-weight: bold;
    }
}



/* 
*
*
content */

#content {

    padding-top: 75px;

    .container {
        font-family: Helvetica;
        font-size: .8em;
        color: var(--c2);
        padding: 2.5%;
        width: 80%;
        background-color: var(--c3);
        margin: auto;
    }

    #image-display {
        img {
            display: block;
            width: 75%;
            margin-right: auto;
            margin-left: auto;
        }
    }

    .first-img {
        float: left;
        width: 15%;
        margin: 0 20px;
    }

    h1 {
        font-size: 2em;
        text-align: center;
    }

    h2 {
        margin-left: 10%;
    }

    p {
        text-align: justify;
        font-size: 1.5em;
    }

    .img-fill {
        width: 100%;
    }

    .twitter-tweet {
        margin: 0 auto;

        p {
            background-color: var(--c4);
        }
    }
}


#lol-yt {
    display: block;
    margin: 0 auto;
}

.points-table {
    border: solid 2px var(--c2);

    td,
    th {
        border: solid 2px var(--c2);
    }

}

table {
    margin: 0 auto;
    border-collapse: collapse;
}

h3 {
    text-align: center;
}

// css designated only to Ask us page 
#content-ask {
    .container {
        font-family: Helvetica;
        color: var(--c2);
        background-color: var(--c3);
        margin: auto;
        width: 60%;
        padding: 140px 25px 100px 25px;

        #ask-title {
            margin: 0;
            font-size: 3em;
            margin-left: 0;
            text-align: center;
        }
    }
}

form {
    width: 80%;
    margin: auto;

    label {
        display: inline-block;
        width: 120px;
    }

    .form-row {
        font-size: 1.3em;
        display: block;
        width: 70%;
        margin: auto;
    }

    legend {
        font-size: 1.5em;
    }

    input[type="text"],
    input[type="email"],
    input[type="email"] {
        width: 200px;
    }


    .form-row-textarea{
        display: flex;
        justify-content: center;
        textarea {
            resize: none;
            width: 70%;
            align-self: center;
        }
    }
    #view{
        display: flex;
        justify-content: center;
    }
}