/* quiz container */

.quiz_intro{
	text-align:center;
	position:absolute;
	background:var(--c3);
	top:30%;
	left:30%;
	border-radius:20px;
	font-family: Titillium Web;
	font-size: 26px;
	color:white;
	opacity:0.9;
	padding: 30px;
	line-height:1.7em;
}
.quiz_path{
	text-align:center;
	align-items:center;
}
.quiz_path #button{
	padding:10px;
	border: none;
	border-radius: 10px;
	position:fixed;
	bottom: 200px;
	right: 870px;
	background: var(--c3);
	font-size: 30px;
	font-family: Titillium Web;
	color: white;
}
	
.quiz_path #button:hover{
    background: #686868;
}

/* page editor */
.footer {
	position:fixed;
	width:100%;
	bottom: 0;
	font-family: Titillium Web;
	padding-top:20px;
	background-color:#2c3e50;
	height:40px;
}

.footer a{
	padding:10px 20px;
	cursor:pointer;
	color: black;
	text-decoration:none;
}